.stays-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 40px;
}

.stays-list li {
  list-style: none;
  width: calc(33.33% - 4px);
  margin-bottom: 10px;
}

.stay-card {
  width: 100%;
}

.stay-card img {
  width: 395px;
  height: 269px;
  border-radius: 24px;
  margin-bottom: 10px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 390px;
}

.type {
  width: 120px;
  height: 17px;
  top: 497px;
  left: 521px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17.07px;
  margin-top: 5px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating img {
  width: 16px;
  margin-right: 5px;
  margin-top: 10px;
}

.title {
  width: 393px;
  height: 20px;
  top: 533px;
  left: 521px;
  color: #333333;
  font-family: Monserrat, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
}
