@media screen and (min-width: 1560px) {
  .stays-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
  }

  .stays-list li {
    list-style: none;
    width: calc(33.33% - 4px);
    margin-bottom: 10px;
  }

  .stay-card {
    margin-right: 2px;
  }

  ul {
    width: 80%;
  }

  .stay-card img {
    width: 395px;
    height: 269px;
    border-radius: 24px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .stay-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .info-section {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 390px;
  }

  .type {
    width: 120px;
    height: 17px;
    top: 497px;
    left: 521px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    margin-top: 5px;
    color: #828282;
  }

  .rating {
    display: flex;
    align-items: center;
  }

  .rating img {
    width: 16px;
    margin-right: 5px;
    margin-top: 10px;
  }

  .title {
    width: 393px;
    height: 20px;
    top: 533px;
    left: 521px;
    color: #333333;
    font-family: Monserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1050px) and (max-width: 1559px) {
  .stays-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
  }

  .stays-list li {
    list-style: none;
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }

  .stay-card {
    margin-right: 2px;
  }

  ul {
    width: 80%;
  }

  .stay-card img {
    width: 395px;
    height: 269px;
    border-radius: 24px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .stay-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .info-section {
    display: flex;
    justify-content: space-between;
    height: 20px;
    width: 390px;
  }

  .type {
    width: 120px;
    height: 17px;
    top: 497px;
    left: 521px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.07px;
    margin-top: 5px;
    color: #828282;
  }

  .rating {
    display: flex;
    align-items: center;
  }

  .rating img {
    width: 16px;
    margin-right: 5px;
    margin-top: 10px;
  }

  .title {
    width: 393px;
    height: 20px;
    top: 533px;
    left: 521px;
    color: #333333;
    font-family: Monserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1049px) {
  .stays-list li {
    width: 100%;
    margin-right: 0;
    list-style: none;
  }

  .stay-card {
    margin-right: 0;
  }

  .stay-card img {
    width: 100%;
    height: auto;
    border-radius: 24px;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .stay-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .info-section {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  .type {
    width: 100%;
    margin-top: 10px;
  }

  .rating {
    display: flex;
    align-items: center;
  }

  .rating img {
    width: 16px;
    margin-right: 5px;
    margin-top: 10px;
  }

  .title {
    width: 100%;
    margin-top: -40px;
    margin-bottom: 50px;
    font-weight: 600;
  }

  .p {
    text-align: center;
  }
}
