.search-bar {
  width: 297px;
  height: 55px;
  top: 32px;
  left: 1047px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.complete-input {
  width: 297px;
  height: 55px;
  top: 32px;
  left: 1047px;
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-section {
  margin-left: 2px;
  padding-right: 10px;
  border-right: 1px solid #f2f2f2;
}

.search-section:last-child {
  border-right: none;
}

input {
  width: 100%;
  padding-top: 20px;
  margin-left: 6px;
  border: none;
  outline: none;
  color: #080808;
}

input::placeholder {
  color: #c0c0c0;
}

.search-button {
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  background-color: white;
  margin-top: 11px;
  text-align: center;
  margin-left: 4px;
}

.search-button img {
  width: 20px;
}

.expanded {
  flex-direction: column;
}
